/*** uncss> filename: http://fonts.googleapis.com/css?family=Unica+One|Vollkorn:400italic,400,700 ***/

@font-face {
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  src: local('Unica One'), local('UnicaOne-Regular'), url(http://fonts.gstatic.com/s/unicaone/v4/z3VYemEbD7zsQFQLG6g3SqCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(http://fonts.gstatic.com/s/vollkorn/v6/7jR1T900H5YEkd1UcZhA_fesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url(http://fonts.gstatic.com/s/vollkorn/v6/wMZpbUtcCo9GUabw9JODep0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: local('Vollkorn Italic'), local('Vollkorn-Italic'), url(http://fonts.gstatic.com/s/vollkorn/v6/Oiz0tNwvC-Nd29SBQWfWTC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

/*** uncss> filename: dist/assets/css/screen.css ***/

@charset "UTF-8";

strong {
  font-weight: 700;
}

body {
  margin: 0;
}

pre {
  overflow: auto;
}

article,
header,
iframe,
img,
nav,
section {
  display: block;
}

pre code {
  padding: 0;
}

img,
pre code {
  border: 0;
}

blockquote,
img {
  font-style: italic;
}

a {
  text-decoration: none;
}

.grid,
.grid__cell {
  text-align: left;
}

.nav:after,
blockquote {
  clear: both;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

body {
  font-family: Vollkorn,serif;
  line-height: 1.7;
  color: #383737;
  word-break: break-word;
  background-color: #F2F2F2;
}

a:focus {
  outline: dotted thin;
}

a:active,
a:hover {
  outline: 0;
}

code,
pre {
  font-family: monospace,serif;
  font-size: 1em;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::-moz-selection {
  background: rgba(102,102,102,.5);
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: rgba(102,102,102,.5);
  color: #FFF;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: rgba(102,102,102,.5);
}

pre {
  white-space: pre;
  word-wrap: normal;
  font-size: 1em;
  background: #383737;
  padding: 1em;
  color: #fff;
  margin-left: -5em;
  margin-right: -1.7em;
  border-left: .25em solid #E74C52;
}

pre code {
  margin: 0;
}

@media screen and (max-width:62em) {
  pre {
    margin-left: -1em;
    margin-right: -1em;
    font-size: 1em;
  }
}

img {
  margin: 0 auto;
  color: #666;
  vertical-align: middle;
}

img {
  max-width: 100%;
}

blockquote {
  margin-left: 0;
}

.grid__cell,
.nav--primary li,
a:active,
a:focus {
  position: relative;
}

@media screen and (min-width:48em) {
  html {
    font-size: 110%;
  }
}

body ::selection {
  background: #E74C52;
}

h1,
h2,
h3 {
  margin-bottom: .65em;
  margin-top: 1.7em;
  font-weight: 400;
  font-family: "Unica One",serif;
  text-transform: uppercase;
}

blockquote,
h1,
ol,
p,
pre,
ul {
  margin-top: 0;
}

blockquote,
ol,
p,
pre,
ul {
  margin-bottom: 1.7em;
}

blockquote>:last-child,
ol>:last-child,
ul>:last-child {
  margin-bottom: 0;
}

h1 {
  line-height: 1.333;
  font-size: 2em;
}

.as-h2,
h2 {
  line-height: 1.4;
  font-size: 1.6em;
}

h3 {
  line-height: 1.5;
}

h3 {
  font-size: 1.25em;
}

ol,
ul {
  margin-left: 1.25em;
  padding-left: 0;
}

li {
  margin-bottom: .5em;
}

blockquote {
  margin-right: 0;
  font-family: serif;
}

@media screen and (min-width:48em) {
  blockquote {
    padding-left: 2em;
    padding-right: 2em;
  }
}

a:active,
a:focus {
  top: 1px;
}

a {
  color: #383737;
}

a:hover {
  color: #1e1e1e;
}

@font-face {
  font-family: "/portfolio";
  src: url(../fonts/portfolio.eot);
  src: url(../fonts/portfolio.eot?#iefix) format("embedded-opentype"),url(../fonts/portfolio.woff) format("woff"),url(../fonts/portfolio.ttf) format("truetype"),url(../fonts/portfolio.svg#iconfont) format("svg");
  font-weight: 400;
  font-style: normal;
}

.grid {
  display: block;
  padding: 0;
  margin: 0 -1em;
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
}

.grid,
.opera:-o-prefocus {
  word-spacing: -.43em;
}

.grid__cell {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  zoom: 1;
  margin: 0;
  padding: 0 1em;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

@media screen and (min-width:48em) {
  .unit-1-2--bp2 {
    width: 50%;
  }
}

@media screen and (min-width:62em) {
  .unit-3-4--bp3 {
    width: 75%;
  }
}

@media screen and (min-width:78em) {
  .unit-3-5--bp4 {
    width: 60%;
  }
}

.container {
  margin: 0 auto;
  width: 85%;
  min-width: 15em;
  max-width: 68.5em;
}

@media screen and (min-width:30em) {
  .nav-container {
    text-align: right;
  }
}

@media screen and (max-width:48em) {
  .nav-container {
    text-align: left;
    margin-bottom: 0;
  }
}

.blog-item__date,
.text-center {
  text-align: center;
}

@media screen and (max-width:30em) {
  .nav-container {
    margin-top: 4.6em;
  }
}

.nav--primary {
  margin: 0;
}

.nav--primary a,
.nav--primary li {
  display: inline-block;
  zoom: 1;
}

.nav--primary li {
  line-height: 1;
  margin-left: 1.7em;
  padding-bottom: 1.13333333em;
}

.nav--primary li:after {
  content: "";
  width: 100%;
  height: .2em;
  background-color: #E74C52;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity,.1s ease-in-out;
}

.nav--primary li.is-current:after,
.nav--primary li:hover:after {
  opacity: 1;
  transition: opacity,.1s ease-in-out;
}

.nav--primary li:first-child {
  margin-left: 0;
}

.nav--primary li a {
  font-weight: 400;
  color: #fff;
  background-image: none;
}

.header {
  padding: 3.4em 0 0;
  height: 20em;
  background-image: url(../img/background-950.jpg);
  background-position: center;
  color: #fff;
}

@media screen and (min-width:950px) {
  .header {
    background-image: url(../img/background.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 20em;
  }
}

@media screen and (min-width:950px),(-webkit-min-device-pixel-ratio:2),(min-resolution:192dppx) {
  .header {
    background-image: url(../img/background-x2.jpg);
    background-position: center bottom;
    background-size: cover;
  }
}

@media screen and (max-width:800px) {
  .header {
    background-image: url(../img/background-800.jpg);
    background-size: cover;
  }
}

@media screen and (max-width:30em) {
  .header {
    background-image: url(../img/background-400.jpg);
  }
}

@media screen and (max-width:62em) {
  .header {
    height: 12em;
    padding-top: 2.55em;
  }
}

a {
  background-image: linear-gradient(to top,rgba(56,55,55,0) 11%,#383737 4%,#383737 4%,rgba(56,55,55,0) 15%);
}

.blog {
  padding: 3em 3em 0;
}

@media screen and (max-width:62em) {
  .blog {
    padding: 1.5em 0 0;
  }
}

.blog blockquote {
  font-size: 1.35em;
  background: #383737;
  padding: 1em;
  color: #fff;
  margin-left: -4em;
  margin-right: -1.45em;
  border-left: .25em solid #E74C52;
}

@media screen and (max-width:62em) {
  .blog blockquote {
    margin-left: -1em;
    margin-right: -1em;
    font-size: 1.25em;
  }
}

.blog__wrapper {
  margin: -10em auto 0;
  background: #fff;
  padding: 1.7em;
  position: relative;
}

.ribbon,
.ribbon:active,
.ribbon:focus,
.ribbon:hover {
  position: absolute;
  top: 0;
}

.blog-item__heading a,
.intro__heading a {
  background-image: none;
}

.blog__wrapper>:last-child,
.blog__wrapper>:last-child>:last-child,
.blog__wrapper>:last-child>:last-child>:last-child {
  margin-bottom: 0;
}

@media screen and (max-width:62em) {
  .blog__wrapper {
    padding: 1.7em 1em 1em;
    margin-top: -6em;
  }
}

@media screen and (max-width:30em) {
  .blog__wrapper {
    margin-top: -1.5em;
  }
}

.blog-item--single {
  padding: 0;
}

.blog-item__listing {
  display: block;
  margin: 2.55em auto;
}

@media screen and (min-width:78em) {
  .blog-item__listing {
    max-width: 80%;
  }
}

.blog-item__listing:first-child {
  margin-top: 0;
}

.blog-item__listing:last-child {
  margin-bottom: 1.7em;
}

.blog-item__heading {
  margin-top: 0;
  margin-bottom: 1.13333333em;
  font-weight: 400;
  text-align: center;
  color: #E74C52;
}

@media screen and (max-width:48em) {
  .blog-item__listing {
    max-width: none;
  }

  .blog-item__heading {
    font-size: 1.6em;
  }
}

.blog-item__heading a {
  font-weight: 400;
  font-style: normal;
  color: #E74C52;
  transition: color .1s ease-in-out;
}

.blog-item__heading a:hover {
  color: #e11f27;
  transition: color .25s ease-in-out;
}

.blog-item__date {
  margin-top: 0;
  margin-bottom: .85em;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  display: block;
}

.intro__heading,
.intro__subheading {
  font-family: Vollkorn,serif;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 1.4em;
  line-height: 1.5;
  color: #fff;
}

.intro__heading a,
.intro__heading a:hover,
.intro__heading a:visited,
.intro__subheading a,
.intro__subheading a:hover,
.intro__subheading a:visited {
  color: #fff;
}

.intro__heading {
  margin-bottom: 0;
}

.intro__subheading {
  font-size: .8em;
  margin-top: 0;
  margin-bottom: 2.1em;
}

.intro__link {
  color: #E74C52;
  font-style: italic;
  font-weight: 500;
  background-image: linear-gradient(to top,rgba(255,255,255,0) 11%,#fff 11%,#fff 16%,rgba(255,255,255,0) 16%);
}

.ribbon {
  color: #fff;
}

.ribbon {
  right: 1em;
  background-image: none;
  height: 1px;
  background-color: #E74C52;
  overflow: visible;
}

.ribbon__inner {
  width: 1.6em;
}

.drop-cap {
  float: left;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  font-weight: 200;
  margin-right: .5em;
  height: 3em;
}

.drop-cap__inner {
  display: inline-block;
  vertical-align: text-top;
  font-size: 3.5em;
  line-height: 1;
}

.nav {
  list-style: none!important;
  margin-left: 0!important;
}

.nav {
  zoom: 1;
}

.nav:after,
.nav:before {
  content: "";
  display: table;
}
