@import "config/_includes";
$lt-ie9: true;
$fix-mqs: $bp3;
@import "screen";

/*----------------------------------------------------------------------------------------*\
 $.IE SPECIFIC STYLES
\*----------------------------------------------------------------------------------------*/
.lt-ie9 .container, {
	width: 960px; }