// Major Breakpoints
$bp1: 30em;
$bp1-5: 36em;
$bp2: 48em;
$bp2-5: 58em;
$bp3: 62em;
$bp3-5: 70em;
$bp4: 78em;

// Colours
$color-text: #383737;
$color-brand: #663399;
$color-comp: #CDCCB7;
$color-background: #F2F2F2;

$color-link: $color-text;
$color-highlight: #E74C52;
$color-link-visited: $color-link;
$color-link-hover: darken($color-link, 10%);

$header-link: white;
$header-bg: #2D2D2D;

// Typography
$baseline: 1.7em;
$font-sans: 'Vollkorn', serif;
$font-cursive: 'Unica One', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif: serif;

$font-body: $font-sans;
$font-headings: $font-cursive;

// Borders
$color-keyline: #999;

// Layout
$container-max-width: 68.5em;
$media-img-gutter: 2em;
$island-padding: 1.5em;
$islet-padding: $island-padding / 2;

// Asset fonts
$icon-font-url: "../fonts/portfolio";
$icon-font-family: "/portfolio";