@import "../libs/_normalize";

/*----------------------------------------------------------------------------------------*\
  $.Fonts
\*----------------------------------------------------------------------------------------*/

/* latin-ext */
@font-face {
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  src: local('Unica One'), local('UnicaOne-Regular'), url(http://fonts.gstatic.com/s/unicaone/v4/Zxq4PdUSc3GE41eti2ZndIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  src: local('Unica One'), local('UnicaOne-Regular'), url(http://fonts.gstatic.com/s/unicaone/v4/z3VYemEbD7zsQFQLG6g3SpBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(http://fonts.gstatic.com/s/vollkorn/v6/idGKtgpe38okB6bfeHMsLHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url(http://fonts.gstatic.com/s/vollkorn/v6/wMZpbUtcCo9GUabw9JODeogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: local('Vollkorn Italic'), local('Vollkorn-Italic'), url(http://fonts.gstatic.com/s/vollkorn/v6/Oiz0tNwvC-Nd29SBQWfWTAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*----------------------------------------------------------------------------------------*\
  $.General Defaults
\*----------------------------------------------------------------------------------------*/
html { overflow-y: scroll; -webkit-font-smoothing: antialiased; }

/* -- Selections -- */
::-moz-selection { background: rgba(102,102,102,.5); color: #FFF; text-shadow: none; }
::selection { background: rgba(102,102,102,.5); color: #FFF; text-shadow: none; }
a:link { -webkit-tap-highlight-color: rgba(102,102,102,.5); }

/* -- Text-Level -- */
hr { display: block; clear: both; height: 1px; border: 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { font-style: italic; font-weight: bold; }
pre { 
	margin-bottom: 2em;
	overflow: auto;
	white-space: pre;
	word-wrap: normal;

	font-size: 1em;
	background: $color-text;
	padding: 1em;
	color: white;
	margin-left: -5em;
	margin-right: -1.7em;
	border-left: .25em solid $color-highlight;
	code {
		border: 0px;
		padding: 0px;
		margin: 0px;
	}
	@include respond-max($bp3) {
		margin-left: -1em;
		margin-right: -1em;
		font-size: 1em;
	}

}
address { white-space: pre-line; }

/* -- Embedded -- */
img { display: block; margin: 0 auto; font-style: italic; color: #666; vertical-align: middle; }
img[width] { width: auto !important; }
img[height] { height: auto !important; }
img, audio, canvas, embed, object, video { max-width: 100%; }
iframe { display: block; }
// Google maps image bug
iframe[src*="maps.google"] img { max-width: auto; margin: auto; }

/* -- Tables -- */
table { width: 100%; }
td { vertical-align: top; }
th, caption { text-align: left; }

/* -- Forms -- */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label, select { cursor: pointer; }
legend { padding: .3em .6em; *margin-left: -7px; }
button, input { line-height: normal; }
input, input[type=search], select, textarea { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
button, html input[type=button], input[type=reset], input[type=submit] { width: auto; }
input[type=file] { width: auto; border: 0; padding: 0; }
input[type=checkbox], input[type=radio] { vertical-align: baseline; background: none; border: none; height: .8em; width: .8em; }
// helper class added via jQuery
.checkbox {
	position: relative;
	padding: 0 0 0 1.35em;
	
	label {
		padding-bottom: 0; }
	
	input {
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -.4em; }	
}
form ul, form ol { list-style: none; margin-left: 0; margin-bottom: 1em; }
form li { margin-bottom: .5em; }
form li:last-child, fieldset:last-child { margin-bottom: 0; }
form br { display: none; }
textarea { resize: vertical; } 
// expandingText jQuery plugin
textarea, .expandingText { min-height: 8em; }

/*----------------------------------------------------------------------------------------*\
 $.Project Defaults
\*----------------------------------------------------------------------------------------*/
html {
	font-size: 14px;
	@include respond-min($bp2) { font-size: 110%; }
}

body {
	font-family: $font-body;
	line-height: 1.7;
	color: $color-text;
	word-break: break-word;
	background-color: $color-background;
	::selection {
	  background: $color-highlight;
	}
}

/* -- Vertical Rhythm -- */
h1, h2, h3, h4, h5, h6 { margin-bottom: .65em; margin-top: $baseline; font-weight: 400; font-family: $font-headings; text-transform: uppercase; }
h1, blockquote, pre, p, ul, ol, dl, hr { margin-top: 0; }
p, ul, ol, dl, hr, form, table, blockquote, pre { margin-bottom: $baseline; }
hr { border-top: 1px solid $color-keyline; }
blockquote > :last-child, ul > :last-child, ol > :last-child, dl > :last-child { margin-bottom: 0; }

/* -- Headings -- */
h1, .as-h1 { line-height: 1.333; font-size: 2em;  }	
h2, .as-h2 { line-height: 1.4; font-size: 1.6em; }
h3, .as-h3 { line-height: 1.5; font-size: 1.25em; }
h4, .as-h4 { line-height: 1.5; font-size: 1.125em; }	
h5, .as-h5 { line-height: 1.5; font-size: 1em; }
h6, .as-h6 { line-height: 1.5; font-size: 0.875em; }
	
/* -- Lists -- */
ul, ol { margin-left: 1.25em; padding-left: 0; }
li { margin-bottom: .5em; }
li ul, li ol { margin-top: $baseline / 2; margin-bottom: 0; }
dt { font-weight: bold; }
dd { margin-left: 0; margin-bottom: $baseline / 2; font-style: italic; }

/* -- Tables -- */
caption { padding-bottom: .5em; font-style: italic; }
th, td { min-width: 6em; padding: .5em; }

/* -- Forms -- */
label { display: block; padding-bottom: .25em; font-weight: bold; }

input,
select,
textarea {
	padding: .5em;
	border: transparent;
	color: #666;
	background-color: #ECECEC;
}

button,
.btn:link,
input[type=submit] {
	display: inline-block;
	border: 0;
	padding: 0;
	color: #666;
	background-color: transparent; }

/* -- Blockquotes -- */
blockquote {
	margin-left: 0;
	margin-right: 0;
	
	@include respond-min($bp2) {
		padding-left: 2em;
		padding-right: 2em; }
}
blockquote { @include font-serif; font-style: italic; clear: both; }
blockquote p + .source { margin-top: -$baseline; }
.source { display: block; @include font-sans; font-size: 1em; font-weight: bold; font-style: normal; }
.source:before { content:"\2013\0020"; }

a:active, a:focus { position: relative; top: 1px; }

/* Links
----------------------------------*/

a {
	text-decoration: none;
	color: $color-link; 
	@extend %underline;
}
	
.btn:visited {
	@extend .btn; }

/* -- hovers -- */
a:hover {
	color: $color-link-hover; }

%reset-hover {
	@include hover-reset; }

/*----------------------------------------------------------------------------------------*\
 $.Asset Fonts
\*----------------------------------------------------------------------------------------*/
@charset "UTF-8";
@include icon-font;


.icon--cancel-circled:before { content: '\e803'; } /* '' */
.icon--cancel:before { content: '\e804'; } /* '' */
.icon--right-open-mini:before { content: '\e802'; } /* '' */
.icon--right-dir:before { content: '\e801'; margin-right: .5em;} /* '' */
.icon--right-open:before { content: '\e800'; } /* '' */

/*----------------------------------------------------------------------------------------*\
 $.Extends
\*----------------------------------------------------------------------------------------*/

%underline {
	background-image: linear-gradient(to top,
		rgba($color-link,0) 11%,
		rgba($color-link,3) 4%,
		rgba($color-link,1) 4%,
		rgba($color-link,0) 15%
	);
}