/*----------------------------------------------------------------------------------------*\
 $.Footer
\*----------------------------------------------------------------------------------------*/

.footer {
    text-align: center;
    padding: 3.4em 0;
    position: relative;
    line-height: 1;
    .footer__link {
        font-weight: 500;
    }
}