/*----------------------------------------------------------------------------------------*\
 $.Header
\*----------------------------------------------------------------------------------------*/

.header {
    position: relative;
    padding: $baseline*2 0 0;
    height: 20em;
    color: $header-link;
    &:after {
        content: "";
        z-index: -1;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        will-change: transform;
        background-color: $header-bg;
        background-image: url('/assets/img/background-950.jpg');
        background-position: center;
        background-size: cover; 
        height: 25em;
        @media screen and (min-width: 950px) {
            background-image: url('/assets/img/background.jpg');
            background-position: center bottom;
        }

        @media screen and (min-width: 950px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) { 
            background-image: url('/assets/img/background-x2.jpg');
            background-position: center bottom;
        }

        @media screen and (max-width: 800px) {
            background-image: url('/assets/img/background-800.jpg');
            background-size: cover;
        }

        @include respond-max($bp3) {
            height: 20em;
        }
        @include respond-max($bp1) {
            height: 15em;
            position: absolute;
            background-image: url('/assets/img/background-400.jpg');
        }
    }

    @media screen and (min-width: 950px) { height: 20em; }

    @include respond-max($bp3) {
        height: 16em;
        padding-top: $baseline*1.5;
    }

    @include respond-max($bp1) { height: 12em; }
}
