/*----------------------------------------------------------------------------------------*\
 $.Intro
\*----------------------------------------------------------------------------------------*/

.intro {}

.intro__heading, .intro__subheading {
    font-family: $font-sans;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1.4em;
    line-height: 1.5;
    color: $header-link;
    a, a:hover, a:visited {
        color: $header-link;
    }
}

.intro__heading {
    margin-bottom: 0;
    a {
        background-image: none;
    }
}

.intro__subheading {
    font-size: .8em;
    margin-top: 0;
    margin-bottom: 2.1em;
}

.intro__link {
    color: $color-highlight;
    font-style: italic;
    font-weight: 500;
    background-image: linear-gradient(to top,
        rgba($header-link,0) 11%,
        rgba($header-link,1) 11%,
        rgba($header-link,1) 16%,
        rgba($header-link,0) 16%
    );
}