/* Grids (Griddle - http://goo.gl/P1JKB)
----------------------------------*/
@import "../libs/_griddle";

// Create 2, 3, 6 and 12 column grids
@include griddle-build(2);

@include respond-min($bp1) {
	@include griddle-build(2 3, "--bp1");
}
@include respond-min($bp2) {
	@include griddle-build(2 3 4, "--bp2");
}	
@include respond-min($bp3) {
	@include griddle-build(2 3 4 5 6 12, "--bp3");
}	
@include respond-min($bp4) {
	@include griddle-build(2 3 4 5 6 12, "--bp4");
}


/* Container / Inner
----------------------------------*/
.container, %container {
	margin: 0 auto;
	width: 85%;
	min-width: 15em;
	max-width: $container-max-width;
}

.site-wrap {
	position: relative;
}