/* Helper classes
----------------------------------*/

.push-top 		{ margin-top: $baseline; }
.push-bottom 	{ margin-bottom: $baseline; }

.zero-top 		{ margin-top: 0 !important; }
.zero-bottom 	{ margin-bottom: 0 !important; }

.weight-light      { font-weight:300 !important; }
.weight-normal     { font-weight:400 !important; }
.weight-semibold   { font-weight:600 !important; }

.list-unset 	{ list-style: none !important; margin-left: 0 !important; }
.list-numbers 	{ list-style: decimal !important; }
.list-bullets 	{ list-style: disc !important; }

.block {display: block;}

/* Theme Classes */

.brand-text {
	color: $color-brand; }
	
.brand-bg {
	background-color: $color-brand; } 	

/* Micro Clearfix - http://goo.gl/5Fvrh */

.cf {
	zoom : 1;
	
	&:before, &:after { content: ""; display: table; }
	&:after { clear : both; }
}	

/* Specific text styles
----------------------------------*/

.headline { border-bottom: 1px solid $color-keyline; padding-bottom: .45em; }
.highlight { color: $color-highlight}
.text-center { text-align: center; }

.highlight--red {
	@include portfolio-highlight(#ff3b3f);
}

.highlight--green {
	@include portfolio-highlight(#49f337);
}

.highlight--orange {
	@include portfolio-highlight(#ff520d);
}

.highlight--blue {
	@include portfolio-highlight(#3291ff);
}

.highlight--purple {
	@include portfolio-highlight(#cf4fe7);
}



/* Style trumps (error states etc.)
----------------------------------*/

.is-hidden { display: none; visibility: hidden; }
.is-vhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }

.warning{color:#900;}
.info{color:#990;}
.alert{	color:#009;}

/* Debuggin'
----------------------------------*/

// Shows current breakpoint indicator for development purposes. 

@mixin debug-message{
		display:inline-block;
		color:#FFF;
		position: fixed;
		z-index: 50;
		top:1em;
		right:1em;
		background-color:rgba(255,255,255,0.1);
		padding:.35em;
		font-family: $font-sans;
		text-transform:uppercase;
		font-size:.8em;
	}

//New breakpoints will need a new @include adding here.

body.debug{
	&:before{@include debug-message; content: "Breakpoint 0"}

	@include respond-min($bp1) {
		&:before{@include debug-message; content: "Breakpoint 1"}
	}
	@include respond-min($bp2) {
		&:before{@include debug-message; content: "Breakpoint 2"}
	}	
	@include respond-min($bp3) {
		&:before{@include debug-message; content: "Breakpoint 3"}
	}	
	@include respond-min($bp4) {
		&:before{@include debug-message; content: "Breakpoint 4"}
	}
}