/*----------------------------------------------------------------------------------------*\
 $.Overrides
\*----------------------------------------------------------------------------------------*/

/* Helper classes
----------------------------------*/

.push-top 		{ margin-top: $baseline; }
.push-bottom 	{ margin-bottom: $baseline; }

.zero-top 		{ margin-top: 0 !important; }
.zero-bottom 	{ margin-bottom: 0 !important; }

.list-unset 	{ list-style: none !important; margin-left: 0 !important; }
.list-numbers 	{ list-style: decimal !important; }
.list-bullets 	{ list-style: disc !important; }

.block {display: block;}

/* Micro Clearfix - http://goo.gl/5Fvrh */

.cf {
	zoom : 1;
	
	&:before, &:after { content: ""; display: table; }
	&:after { clear : both; }
}	

/* Specific text styles
----------------------------------*/

.headline { border-bottom: 1px solid $color-keyline; padding-bottom: .45em; }
.highlight { color: $color-highlight}
.text-center { text-align: center; }