/*----------------------------------------------------------------------------------------*\
 $.Post
\*----------------------------------------------------------------------------------------*/

.post {
    padding: 0 3em 0;
    background-color: $color-background;
    @include respond-max($bp3) {
        padding: 0;
    }
    blockquote {
        font-size: 1.35em;
        background: $color-text;
        padding: 1em;
        color: white;
        margin-left: -4em;
        margin-right: -1.45em;
        border-left: .25em solid $color-highlight;
        @include respond-max($bp3) {
            margin-left: -1em;
            margin-right: -1em;
            font-size: 1.25em;
        }
    }
}

.post__wrapper {
    margin: 0 auto 0;
    background: white;
    padding: $baseline;
    position: relative;
    overflow: hidden;
    @include guttering;
    @include respond-max($bp3) {
        padding: $baseline 1em 1em;
    }
}

.post__wrapper--bordered {
    @include respond-min($bp3) {
        border-top: .25em solid $color-highlight;
    }
}

.post__wrapper--align {
    margin-left: -1em;
    margin-right: -1em;
}

.post__item {
    @include respond-min($bp3) { margin-top: -5em; }
}

.post__item--single { padding: 0; }

.post__listing {
    display: block;
    @include respond-min($bp4) {
        max-width: 80%;
    }
    @include respond-max($bp2) {
        max-width: none;
    }
    margin: $baseline*1.5 auto;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: $baseline;
    }
}

.post__heading {
    margin-top: 0;
    margin-bottom: $baseline/1.5;
    font-weight: 400;
    text-align: center;
    color: $color-highlight;
    @include respond-max($bp2) {
        font-size: 1.6em;
    }
    a {
        font-weight: 400;
        font-style: normal;
        background-image: none;
        color: $color-highlight;
        @include respond-min($bp1) {
            transition: color .2s ease-in-out;
            &:hover {
                color: darken($color-highlight, 15%);
                transition: color .2s ease-in-out;
            }
        }
    }
}

.post__date {
    margin-top: 0;
    margin-bottom: $baseline/2;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    display: block;
}
