/*----------------------------------------------------------------------------------------*\
 $.Ribbon
\*----------------------------------------------------------------------------------------*/

.ribbon {
    position: absolute;
    right: 1em;
    top: 0;
    color: #fff;
    background-image: none;
    height: 1px;
    background-color: $color-highlight;
    overflow: visible;
    animation: drop-in .45s;
    @include on-interaction {
        position: absolute;
        top: 0;
    }
    .lt-ie9 & { display: none; }
}

.ribbon__inner {
    width: 1.6em;
}

@keyframes drop-in {
    0%, 60%, 75%, 90%, 100% {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        transform: translate3d(0, -60px, 0);
    }

    100% {
        transform: none;
    }
}
