<header class="header header--parallax header--wrap" id="top">
    <div class="container">
        <div class="grid">
            <div class="intro grid__cell unit-1-2--bp2">
                <h1 class="intro__heading">
                    <a href="{{ site.url }}">Joshua Johnson</a>
                </h1>
                <h2 class="intro__subheading">
                    Front-end Dev Lead @ <a href="http://browserlondon.com" class="intro__link">Browser London</a>
                </h2>
            </div>
            <nav class="nav-container grid__cell unit-1-2--bp2">
                <ul class="nav nav--primary">
                    <li class="is-current">
                        <a href="{{ site.url }}">Blog</a>
                    </li>
                    <li>
                        <a href="{{ site.twitter }}">Twitter</a>
                    </li> 
                </ul>
            </nav>
        </div>
    </div>
</header>
<main class="main">