<header class="header" id="top">
    <div class="container container--relative">
        <div class="grid">
            <div class="intro grid__cell unit-1-2--bp2">
                <h1 class="intro__heading">
                    <a href="{{ site.baseurl }}">Joshua Johnson</a>
                </h1>
                <h2 class="intro__subheading">
                    Front-end Developer @ <a href="http://browserlondon.com" class="intro__link">BT</a>
                </h2>
            </div>
            <nav class="nav nav--primary grid__cell unit-1-2--bp2">
                <ul class="nav__list">
                    <li class="nav__item nav__item--active">
                        <a href="{{ site.baseurl }}" class="nav__link">Blog</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ site.github }}" class="nav__link">GitHub</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ site.twitter }}" class="nav__link">Twitter</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
